<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Vajehyar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Vajehyar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <applicationSettings>
        <Vajehyar.Properties.Settings>
            <setting name="StartupArgument" serializeAs="String">
                <value>--autoStart</value>
            </setting>
            <setting name="GithubId" serializeAs="String">
                <value>kokabi1365</value>
            </setting>
            <setting name="GithubRepo" serializeAs="String">
                <value>Vajehyar</value>
            </setting>
            <setting name="UpdateUrl" serializeAs="String">
                <value>https://github.com/kokabi1365/Vajehyar/releases</value>
            </setting>
            <setting name="IDPay" serializeAs="String">
                <value>https://idpay.ir/kokabi</value>
            </setting>
            <setting name="GithubUrl" serializeAs="String">
                <value>https://github.com/kokabi1365/Vajehyar</value>
            </setting>
            <setting name="VirgoolUrl" serializeAs="String">
                <value>https://virgool.io/@kokabi</value>
            </setting>
        </Vajehyar.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Vajehyar.Properties.Settings>
            <setting name="ShortcutKey" serializeAs="String">
                <value>Alt + Shift + V</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartByWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingLeftPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingTopPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AboutLeftPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AboutTopPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value />
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="SearchDelay" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ShowInTaskbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeWhenClickOutside" serializeAs="String">
                <value>False</value>
            </setting>
        </Vajehyar.Properties.Settings>
    </userSettings>
</configuration>
